* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    max-width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

.images {
    display: inline-block;
}

.images > img {
    height: 250px;
    width: 300px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
}

input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    padding: 20px;
    text-align: center;
}

.container > button {
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.container > button:hover {
    background-color: blue;
    color: white;
    font-size: 125%;
}

#error {
    color: red;
    text-align: center;
    font-size: 15px;
}