#amount-of-fields {
    width: 30%;
    border: 1px solid black;
    border-radius: 2px;
}

#menu {
    font-size: 1em;
    width: 75%;
    margin: 0px auto;
    margin-bottom: 40px;
}

#amount-of-fields, #amount-of-fields-label {
    display: block;
}

#menu, #victory {
    font-size: 1em;
}

#field {
    width: 75%;
    margin: 0px auto;
}

.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
}

#victory {
    text-align: center;
}